<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chicago Chat</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/static/chicago_chat.js"></script>
  </head>

  <body>
    <h1>Chicago Chat</h1>
    <p>
      <textarea id="chat"></textarea>
    </p>

    <p id="nick_controls">
      <label>
        Type in your nick name to start:<br>
        <input id="nick_text">
      </label>
      <button id="nick">Confirm</button>
    </p>

    <p id="say_controls">
      <input id="say_text">
      <button id="say">Say</button>
    </p>
  </body>
</html>
